@model HungVdn1670.Models.AdminChangePassword
@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
    </div>
    @using (Html.BeginForm("AdminChangePasswordTrainer", "Account", FormMethod.Post, new { @class = "user", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.PasswordFor(m => m.UserNewPassword, new { @class = "form-control form-control-user", placeholder = "Old Password" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.UserConfirmNewPassword, new { @class = "form-control form-control-user", placeholder = "Old Password" })
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Change Passwords</button>
    }
</div>

