@model IEnumerable<HungVdn1670.Models.ApplicationUser>

@{
    ViewBag.Title = "ShowTrainers";
}

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">User Name</th>

            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>

                <td>
                    @Html.ActionLink(
                        "Detail",
                        "Details",
                        "Trainees",
                        new { id = user.Id },
                        new { @class = "btn btn-primary" }
                       )
                    @Html.ActionLink(
                                "Edit",
                                "Edit",
                                "Trainees",
                                new { id = user.Id },
                                new { @class = "btn btn-info" }
                               )
                    @Html.ActionLink(
                                "Delete",
                                "Delete",
                                "Trainees",
                                new { id = user.Id },
                                new { @class = "btn btn-danger" }
                               )
                </td>

            </tr>
        }

    </tbody>
</table>
